[submodule "agent-os"]
	path = agent-os
	url = https://github.com/fenghaitao/agent-os
[submodule "spec-kit"]
	path = spec-kit
	url = https://github.com/fenghaitao/spec-kit.git
[submodule "contributing/samples/spec_kit_integration/simics-mcp-server"]
	path = contributing/samples/spec_kit_integration/simics-mcp-server
	url = https://github.com/fenghaitao/simics-mcp-server.git
[submodule "contributing/samples/agent_os_integration/simics/simics-mcp-server"]
	path = contributing/samples/agent_os_integration/simics/simics-mcp-server
	url = https://github.com/fenghaitao/simics-mcp-server.git
[submodule "OpenSpec"]
	path = OpenSpec
	url = https://github.com/fenghaitao/OpenSpec
[submodule "deepeval"]
	path = deepeval
	url = https://github.com/fenghaitao/deepeval.git
[submodule "dspy"]
        path = dspy
        url = https://github.com/fenghaitao/dspy.git
[submodule "textual"]
        path = textual
        url = https://github.com/fenghaitao/textual
[submodule "cognee"]
	path = cognee
	url = https://github.com/fenghaitao/cognee.git
