[submodule "agent-os"]
	path = agent-os
	url = https://github.com/fenghaitao/agent-os
[submodule "spec-kit"]
	path = spec-kit
	url = https://github.com/fenghaitao/spec-kit.git
[submodule "contributing/samples/spec_kit_integration/simics-mcp-server"]
	path = contributing/samples/spec_kit_integration/simics-mcp-server
	url = https://github.com/fenghaitao/simics-mcp-server.git
